body{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  overflow: hidden !important;
}
.main{
  height: 100vh;
  background-image: url(assets/main-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
video{
  width: 100%;
  height: 77vh;
  position: absolute;
  left: 0;
  top: 0;
}
.btn{
  display: flex;
  background-color: #000;
  align-items: center;
  max-width: 320px;
  padding: 3px;
  border-radius: 10px;
}
a{
  display: block;
  z-index: 5555;
  margin: 0;
  left: 50%;
  top: 89%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  text-decoration: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  position: absolute;
}

@media screen and (max-width: 590px) {
  .for_fixed{
    position: relative;
    top: 81%;
    left: 41%;
  }
  .btn{
    /* width: 210px;
    height: 64px;*/
    width: 230px;
    height: 70px;
    padding: 1px;
  }
  .get-btn{
    width: 220px;
    height: 67px;
  }
  .icon{
    height: 65px;
    width: 65px;
  }
  a{
    /*left: 41%;
    top: 81%;*/
    position: fixed;
  }
  video{
    width: 100%;
    height: 77vh;
    position: absolute;
    left: 0;
    top: 0;
  }
}

@media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) {
.btn{
  max-width: 490px;
 }
}

@media not all and (min-resolution:.001dpcm) { @media {
  .btn{
    max-width: 490px;
   }
}}

